@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.overlay::before {
  content: ' ';
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.rotate {
  transform: rotate3d(0, 0, 1, -4deg);
  /* transform: rotate(-4deg); */
}
